* {margin: 0%; padding: 0px; box-sizing: border-box; cursor: context-menu;}

@media screen and (max-width:600px) {

   .div_winner{
     height: 90vh; background-image: linear-gradient(to bottom, black 73%, #4401affd); /*border: 1px solid rgba(0, 0, 0, 0.082);*/ overflow: hidden;
    }

    .div_winner > .h1_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.3em; letter-spacing: 4px; margin: 40px 0px;
    }

    .div_winner > .img_winner{
        width: 200px; height: 200px; display: block; margin: 0 auto; margin-top: 100px;
    }

    .div_winner > .h2_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.5em; letter-spacing: 4px; margin: 50px 0px;
    }

}

@media (min-width: 600px) and (max-width: 768px) {
   .div_winner{
     height: 90vh; background-image: linear-gradient(to bottom, black 73%, #4401affd); /*border: 1px solid rgba(0, 0, 0, 0.082);*/ overflow: hidden;
    }

    .div_winner > .h1_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.3em; letter-spacing: 4px; margin: 50px 0px;
    }

    .div_winner > .img_winner{
        width: 250px; height: 250px; display: block; margin: 0 auto; margin-top: 100px;
    }

    .div_winner > .h2_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.5em; letter-spacing: 4px; margin: 50px 0px;
    }
}

@media (min-width: 768px) {
   .div_winner{
     height: 90vh; background-image: linear-gradient(to bottom, black 73%, #4401affd); /*border: 1px solid rgba(0, 0, 0, 0.082);*/ overflow: hidden;
    }

    .div_winner > .h1_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.5em; letter-spacing: 4px; margin: 60px 0px;
    }

    .div_winner > .img_winner{
        width: 250px; height: 250px; display: block; margin: 0 auto; margin-top: 100px;
    }

    .div_winner > .h2_winner{
        color: white; text-shadow: 1px 1px 3px black; text-transform: uppercase; text-align: center; font-size: 1.5em; letter-spacing: 4px; margin: 50px 0px;
    }
}