*{ margin: 0%; padding: 0px; box-sizing: border-box;}

body{
  width: 100vw; background-image: linear-gradient(to left, #fff7ad, #ffa9f9db); background-attachment: fixed; box-shadow: 2px 4px 20px rgb(61, 58, 49) inset; cursor: context-menu; overflow-x: hidden;
}

main > section > div{
  background-size: cover;
  background-position: center; 
}

main > section > .div-animals{
  background-image: url('../src/assets/img/animais-min.png');
}

main > section > .div-children{
  background-image: url('../src/assets/img/crianças-no-ceu-min.png');  
}

main > section > .div-baby{
  background-image: url('../src/assets/img/jesus-bebe-min.png');  
}

main > section > .div-jesus_christ{
  background-image: url('../src/assets/img/jesus-com-a-cruz-min.png');  
}

main > section > .div-jesus_reigns{
  background-image: url('../src/assets/img/jesus-com-anjos-min.png');  
}

main > section > .div-four{
  background-image: url('../public/cards/four-min-edited.jpg');  
}